@import '/src/custom.scss';
@import '/src/global.scss';

.CarouselComp{
    height: 70vh;
}
.carousel-text-p{
    color: $primary;
    font-family: $pFont;
    font-weight: bolder;
    font-size: larger;
}
.carousel-text-h3{
    color: $dark;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: $pFont;
    font-weight: bolder;
}

